<md-dialog aria-label="Positions" id="add-task-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Aufgabe hinzufügen</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="newTaskForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-autocomplete flex
                                         md-input-name="projects"
                                         md-input-minlength="1"
                                         md-no-cache="true"
                                         md-selected-item="newTask._job"
                                         md-selected-item-change="setPartjobs()"
                                         md-search-text="jobsComplete.searchText"
                                         md-items="job in jobsComplete.querySearch(jobsComplete.searchText)"
                                         md-item-text="job.jobDesignation"
                                         md-min-length="0"
                                         md-require-match
                                         md-floating-label="Projekt auswählen">
                            <md-item-template>
                                <span md-highlight-text="jobsComplete.searchText">{{job.jobnumber}}: {{job.jobDesignation}}</span>
                            </md-item-template>
                            <md-not-found>
                                Neuen <a ng-click="newJob(jobsComplete.searchText)">Auftrag
                                "{{jobsComplete.searchText}}" erstellen</a>
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Teilauftrag auswählen</label>
                        <md-select ng-model="newTask.partjobId" name="partjob">
                            <md-option value=""></md-option>
                            <md-option ng-repeat="part in partjobs" value="{{part.id}}">
                                {{part.designation}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Material</label>
                        <md-select ng-model="newTask.materialId" name="material">
                            <md-option value=""></md-option>
                            <md-option ng-repeat="material in materials" value="{{material.id}}">
                                {{material.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Seiten</label>
                        <input type="text" name="pages" ng-model="newTask.pages" pattern="^\d*$">
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-autocomplete class="normalize" flex
                                         md-input-name="costcenters"
                                         md-input-minlength="1"
                                         md-no-cache="false"
                                         md-selected-item="newTask._costcenter"
                                         md-selected-item-change="setTimetypes()"
                                         md-search-text="costcentersComplete.searchText"
                                         md-items="costcenter in costcentersComplete.querySearch(costcentersComplete.searchText)"
                                         md-item-text="costcenter.name"
                                         md-min-length="0"
                                         md-require-match
                                         md-floating-label="Kostenstelle auswählen">
                            <md-item-template>
                                <span md-highlight-text="costcentersComplete.searchText">{{costcenter.identifier}}: {{costcenter.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                Keine Kostenstelle "{{costcentersComplete.searchText}}" gefunden.
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <md-autocomplete class="normalize" flex
                                         md-input-name="timetypes"
                                         md-input-minlength="1"
                                         md-no-cache="true"
                                         md-selected-item="newTask._timetype"
                                         md-selected-item-change="updateNewtaskTimetype()"
                                         md-search-text="timetypesComplete.searchText"
                                         md-items="timetype in timetypesComplete.querySearch(timetypesComplete.searchText)"
                                         md-item-text="timetype.name"
                                         md-min-length="0"
                                         md-require-match
                                         md-floating-label="Zeitart auswählen">
                            <md-item-template>
                                <span md-highlight-text="timetypesComplete.searchText">{{timetype.identifier}}: {{timetype.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                Keine Zeitart gefunden.
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="description" rows="1" ng-model="newTask.description" maxlength="70"
                                  md-maxlength="70"></textarea>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Anfang</label>
                        <input type="text" name="start" ng-model="newTask._starttime" pattern="^[0-2]\d:[0-5]\d$"
                               ng-disabled="newTask._powers.OFFLINE_WORKING < 200" md-maxlength="5">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Ende</label>
                        <input type="text" name="end" ng-model="newTask._endtime" pattern="^[0-2]\d:[0-5]\d$"
                               ng-disabled="newTask._powers.OFFLINE_WORKING < 200" md-maxlength="5">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submit()">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp;Speichern
        </md-button>
    </md-dialog-actions>
</md-dialog>