<md-card id="all-sheet-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changeAllSheetsToggle()"><i class="fa fa-calendar"></i>&emsp;Gesamte
                Tageszettel</h2>
            <md-switch class="md-accent" aria-label="Toggle oldSheet" ng-model="allSheets.toggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="allSheets.toggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Benutzer</label>
            <input type="text" name="sheet-search" ng-model="allSheets.searchText" pattern="">
        </md-input-container>

        <md-list ng-cloak>
            <md-list-item ng-repeat="user in allSheets.fnFilter(allSheets.searchText)" class="noright md-3-line"
                          ng-click="allSheets.openDialog($event, user)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{user.name}}</h3>
                    <h4>{{user.department}}</h4>
                    <p>{{user.position}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>