<md-card id="current-sheet-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="currentSheet.changeToggle()"><i class="fa fa-clock-o"></i>&emsp;Aktueller
                Tageszettel &emsp; {{currentSheet.daysheet.time}}</h2>
            <md-switch class="md-accent" aria-label="Toggle currentSheet" ng-model="currentSheet.toggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="currentSheet.toggle">
        <md-list ng-cloak>
            <md-list-item ng-repeat="task in currentSheet.daysheet.tasks" class="noright md-3-line"
                          ng-click="currentSheet.openTaskEditDialog($event, task)">
                <div class="md-list-item-text" layout="column" ng-if="task.costcenterId > 0">
                    <h3>{{task.jobtitle}}</h3>
                    <h4>Zeitart: {{task.timetypeNumber}} - Kostenstelle: {{task.costcenterNumber}}</h4>
                    <p>{{task.description}}</p>
                </div>
                <div class="md-list-item-text" layout="column" ng-if="task.costcenterId < 1">
                    <h3>{{task.costcenterName}}</h3>
                    <h4>{{task.jobtitle}}</h4>
                    <p>{{task.description}}</p>
                </div>
                <md-button class="md-primary" aria-label="Delete" ng-disabled="true">
                    {{task.time}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-if="currentSheet.toggle">
        <md-button ng-click="currentSheet.startDay(true)" ng-if="currentSheet.submitted && false"
                   class="md-raised md-primary">
            <i class="fa fa-plus"></i>&nbsp;Neu
        </md-button>
        <md-button ng-click="currentSheet.checkout(ev)" class="md-warn"
                   ng-disabled="!currentSheet.daysheet.tasks || currentSheet.daysheet.tasks.length < 1 || currentSheet.submitted">
            <i class="fa fa-paper-plane"></i>&nbsp;Abschicken
        </md-button>
        <md-button ng-click="currentSheet.openTaskAddDialog($event)" ng-disabled="currentSheet.submitted"
                   class="md-raised md-primary">
            <i class="fa fa-plus"></i>&nbsp;Hinzufügen
        </md-button>
    </md-card-actions>
</md-card>