<md-dialog aria-label="Positions" id="add-task-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Tageszettel von {{oldSheetUser.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelOldSheets()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <old-sheets owner-of-sheet="oldSheetUser"></old-sheets>
    </md-dialog-content>
</md-dialog>s