<md-card id="old-sheet-card-{{oldSheet.userId}}">
    <md-toolbar ng-if="!ownerOfSheet">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changeOldSheetToggle()"><i class="fa fa-calendar"></i>&emsp;Alte
                Tageszettel</h2>
            <md-switch class="md-accent" aria-label="Toggle oldSheet" ng-model="oldSheet.toggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="oldSheet.toggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Tageszettel</label>
            <input type="text" name="sheet-search" ng-model="oldSheet.searchText" pattern="">
        </md-input-container>

        <ang-accordion close-icon-class="fa fa-plus" open-icon-class="fa fa-minus" one-at-a-time="false"
                       icon-position="left">
            <collapsible-item ng-repeat="sheet in oldSheet.fnFilter(oldSheet.searchText)"
                              item-title="{{oldSheet.timestampToDate(sheet.startdate, true)}}: {{oldSheet.timestampToTime(sheet.startdate)}} - {{oldSheet.timestampToTime(sheet.enddate)}}">
                <md-card-content>
                    <md-list ng-cloak>
                        <md-list-item ng-repeat="task in sheet.tasks" class="noright md-3-line"
                                      ng-click="oldSheet.openTaskEditDialog($event, sheet, task)">
                            <div class="md-list-item-text" layout="column" ng-if="task.costcenterId > 0">
                                <h3>{{task.jobtitle}}</h3>
                                <h4>Zeitart: {{task.timetypeNumber}} - Kostenstelle: {{task.costcenterNumber}}</h4>
                                <p>{{task.description}}</p>
                            </div>
                            <div class="md-list-item-text" layout="column" ng-if="task.costcenterId < 1">
                                <h3>{{task.costcenterName}}</h3>
                                <h4>{{task.jobtitle}}</h4>
                                <p>{{task.description}}</p>
                            </div>
                            <md-button class="md-primary" aria-label="Delete" ng-disabled="true">
                                {{task.time}}
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </collapsible-item>
        </ang-accordion>
    </md-card-content>
</md-card>