<md-card id="welcomet-card">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Wilkommen!</span>
            <span class="md-subhead">{{welcome.message}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content ng-if="welcome.user">
        <md-list flex>
            <md-list-item>
                <div class="md-list-item-text" layout="column">
                    <p>{{ welcome.greeting }}</p>
                </div>
            </md-list-item>
            <md-list-item>
                <div class="md-list-item-text" layout="column">
                    <p>{{ welcome.overtime }}</p>
                </div>
            </md-list-item>
            <md-list-item>
                <div class="md-list-item-text" layout="column">
                    <p>{{ welcome.time }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>