<md-dialog aria-label="Login" class="login-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Login</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="text" name="loginEmail" on-enter="login()" ng-model="user.email" minlength="1"
                       maxlength="100" md-autofocus/>

                <div ng-messages="user.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']" ng-hide="validEmail()">
                        Das Feld darf nicht leer sein und muss eine valide E-Mail-Adresse beinhalten.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Passwort</label>
                <input required type="password" name="loginPassword" on-enter="login()" ng-model="user.password"
                       minlength="1"/>

                <div ng-messages="user.password.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength']" ng-hide="validPassword()">
                        Das Feld darf nicht leer sein.
                    </div>
                </div>
            </md-input-container>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="login()" ng-disabled="!validEmail() || !validPassword()">
            <i class="fa fa-fw fa-sign-in"></i>&nbsp;Login
        </md-button>
    </md-dialog-actions>
</md-dialog>