<md-menu md-position-mode="target-right target" md-offset="-10 +50">
    <md-button class="md-icon-button more-icon" aria-label="More" ng-click="openPersonMenu($mdMenu, $event)">
        <md-icon>
            <i class="fa fa-ellipsis-v fa-2x"></i>
        </md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item class="user-menu" ng-if="user.isLoggedIn">
            <md-button aria-disabled="true" ng-click="showEditOwnUserDialog($event)">
                <md-icon class="fa fa-user fa-lg"></md-icon>
                <span>&emsp;{{user.name}}</span>
            </md-button>
        </md-menu-item>
        <md-menu-item class="user-menu" ng-if="user.isLoggedIn">
            <md-button disabled aria-disabled="true">
                <md-icon class="fa fa-users fa-lg"></md-icon>
                <span>&emsp;{{user.department}}</span>
            </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="user.isLoggedIn"></md-menu-divider>
        <md-menu-item ng-if="user.isLoggedIn">
            <md-button ng-click="logout()">
                <md-icon class="fa fa-sign-out fa-lg"></md-icon>
                <span>&emsp;Logout</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="!user.isLoggedIn">
            <md-button ng-click="showLoginDialog($event)">
                <md-icon class="fa fa-sign-in fa-lg"></md-icon>
                <span>&emsp;Login</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>