<md-list>
    <md-list-item class="navigation-menu-link" ng-repeat="route in routes"
                  ng-if="(!route.authenticationRequired || isLoggedIn) && (route.requiredPower <= power)"
                  ng-class="{'active': activeRoute(route)}" ng-click="redirect(route.path)">
        <i ng-if="route.icon" class="fa {{route.icon}} fa-fw fa-lg"></i>
        &emsp;{{ route.name }}
    </md-list-item>
</md-list>