<div ng-if="page.activeUser && page.activeUser.powers.EDIT_SETTINGS >= 255">
    <div class="col-xs-12">
        <users></users>
    </div>
    <div class="col-lg-4">
        <roles></roles>
    </div>
    <div class="col-lg-4 col-sm-6">
        <departments></departments>
    </div>
    <div class="col-lg-4 col-sm-6">
        <positions></positions>
    </div>
</div>
<div ng-if="page.activeUser && page.activeUser.powers.EDIT_SETTINGS >= 200 && page.activeUser.powers.EDIT_SETTINGS < 255">
    <div class="col-xs-12">
        <users></users>
    </div>
    <div class="col-sm-6">
        <departments></departments>
    </div>
    <div class="col-sm-6">
        <positions></positions>
    </div>
</div>
<div ng-if="page.activeUser && page.activeUser.powers.EDIT_SETTINGS >= 150 && page.activeUser.powers.EDIT_SETTINGS < 200">
    <div class="col-xs-12">
        <users></users>
    </div>
    <div class="col-xs-12">
        <positions></positions>
    </div>
</div>
<div ng-if="page.activeUser && page.activeUser.powers.EDIT_SETTINGS < 150">
    <div class="col-xs-12">
        <users></users>
    </div>
</div>