<md-dialog aria-label="Confirm Password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Passwort eingeben</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancelPrompt()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="verifyForm">
                <div layout-gt-xs="row">
                    <p>Verifizieren Sie sich mit Ihrem aktuellen Passwort</p>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Passwort</label>
                        <input type="password" name="password" ng-model="verify.password" required minlength="3"
                               on-enter="submitPrompt()" autofocus md-autofocus>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" ng-click="submitPrompt()">
            <i class="fa fa-fw fa-check-circle-o"></i>&nbsp;Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>