.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  display: inline-flex;
  width: 97%;
  padding: 8px;

  md-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  md-input-container {
    width: 100%;
  }
}

// xs
@media (max-width: 767px) {

  .col-xs-12 {
    width: 97%;
  }
  .col-xs-11 {
    width: 88.66666667%;
  }
  .col-xs-10 {
    width: 80.33333333%;
  }
  .col-xs-9 {
    width: 72%;
  }
  .col-xs-8 {
    width: 63.66666667%;
  }
  .col-xs-7 {
    width: 55.33333333%;
  }
  .col-xs-6 {
    width: 47.55%;
  }
  .col-xs-5 {
    width: 38.66666667%;
  }
  .col-xs-4 {
    width: 31.33333333%;
  }
  .col-xs-3 {
    width: 22%;
  }
  .col-xs-2 {
    width: 13.66666667%;
  }
  .col-xs-1 {
    width: 5.33333333%;
  }

}

// sm
@media (min-width: 768px) and (max-width: 991px) {

  .col-xs-12, .col-sm-12 {
    width: 97%;
  }
  .col-xs-11, .col-sm-11 {
    width: 88.66666667%;
  }
  .col-xs-10, .col-sm-10 {
    width: 80.33333333%;
  }
  .col-xs-9, .col-sm-9 {
    width: 72%;
  }
  .col-xs-8, .col-sm-8 {
    width: 63.66666667%;
  }
  .col-xs-7, .col-sm-7 {
    width: 55.33333333%;
  }
  .col-xs-6, .col-sm-6 {
    width: 47%;
  }
  .col-xs-5, .col-sm-5 {
    width: 38.66666667%;
  }
  .col-xs-4, .col-sm-4 {
    width: 30.33333333%;
  }
  .col-xs-3, .col-sm-3 {
    width: 22%;
  }
  .col-xs-2, .col-sm-2 {
    width: 13.66666667%;
  }
  .col-xs-1, .col-sm-1 {
    width: 5.33333333%;
  }

}

// md
@media (min-width: 992px) and (max-width: 1199px) {

  .col-xs-12, .col-sm-12, .col-md-12 {
    width: 97%;
  }
  .col-xs-11, .col-sm-11, .col-md-11 {
    width: 88.66666667%;
  }
  .col-xs-10, .col-sm-10, .col-md-10 {
    width: 80.33333333%;
  }
  .col-xs-9, .col-sm-9, .col-md-9 {
    width: 72%;
  }
  .col-xs-8, .col-sm-8, .col-md-8 {
    width: 63.66666667%;
  }
  .col-xs-7, .col-sm-7, .col-md-7 {
    width: 55.33333333%;
  }
  .col-xs-6, .col-sm-6, .col-md-6 {
    width: 47.55%;
  }
  .col-xs-5, .col-sm-5, .col-md-5 {
    width: 38.66666667%;
  }
  .col-xs-4, .col-sm-4, .col-md-4 {
    width: 31.33333333%;
  }
  .col-xs-3, .col-sm-3, .col-md-3 {
    width: 22%;
  }
  .col-xs-2, .col-sm-2, .col-md-2 {
    width: 13.66666667%;
  }
  .col-xs-1, .col-sm-1, .col-md-1 {
    width: 5.33333333%;
  }

}

// lg
@media (min-width: 1200px) {

  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    width: 97%;
  }
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
    width: 88.66666667%;
  }
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
    width: 80.33333333%;
  }
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    width: 72%;
  }
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8 {
    width: 63.66666667%;
  }
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7 {
    width: 55.33333333%;
  }
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    width: 47.55%;
  }
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5 {
    width: 38.66666667%;
  }
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4 {
    width: 31.33333333%;
  }
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
    width: 22%;
  }
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
    width: 11.66666667%;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    width: 5.33333333%;
  }

}