@import "grid";

body {
  .layout-column {
    section.app-container {
      md-sidenav.md-sidenav-left.md-locked-open > md-list {
        margin-top: 0;
      }
      .md-sidenav-left {
        width: 300px;
        min-height: calc(100vh - 85px);

        md-list {
          margin-top: 85px;
          transition: margin-top .1s ease;
          transition-delay: .05s;

          md-list-item.navigation-menu-link {
            color: #6b6b6b;
          }
          md-list-item.navigation-menu-link.active {
            color: #e6e8f6;
            background-color: #3f51b5;
          }
        }
      }
      md-content {
      }
    }

    .layout-row > md-toolbar {
      z-index: 61;

      .app-title {
        text-align: center;
      }

      button.md-icon-button.more-icon {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 25px;
      }

      button.md-icon-button.sidenav-toggle {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 25px;
      }
    }
  }
}

md-menu-item.user-menu {
  .md-button[disabled] {
    color: rgba(0, 0, 0, 0.87);

    md-icon {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

md-dialog.login-dialog {
  width: 40%;
}