.collapsible-item .icon {
  float: right;
  height: 20px;
  width: 20px;
  font-size: 19px !important;
  padding-right: 1px;
}

.collapsible-item .iconleft {
  float: left !important;
}

.collapsible-item.open {
  .accordion-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.accordion-title {
  md-card-title-text {
    span {
      cursor: pointer;
      font-style: inherit;
      font-variant: inherit;
      font-family: inherit;
      min-height: 28px;
      min-width: 88px;
      vertical-align: middle;
      align-items: center;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.010em;
      margin: 0 0 0px 0;
      line-height: 1.2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.accordion-title:focus {
  outline: none;
}

.collapsible-item .body {
  position: relative;
  top: -4px;
  max-height: 0;
  overflow: hidden;
  border-top: 0;
  z-index: -1;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.collapsible-item.open .body {
  max-height: 1000px;
  z-index: 1;
}
