<md-card id="departments-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changeDepartmentsToggle()"><i class="fa fa-cubes"></i>&emsp;Abteilungen
            </h2>
            <md-switch class="md-accent" aria-label="Toggle Departments" ng-model="departmentsToggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="departmentsToggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Abteilung</label>
            <input type="text" ng-model="text.departmentsSearchInput" ng-change="changeDepartmentsSearch()">
        </md-input-container>
        <md-list ng-cloak>
            <md-list-item ng-repeat="department in departments" class="noright md-2-line"
                          ng-click="openDepartmentsEditDialog($event, department)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{department.name}}</h3>
                    <p>{{department.description}}</p>
                </div>
                <md-button class="md-icon-button" aria-label="Delete"
                           ng-if="department.positions == null || department.positions.length == 0"
                           ng-click="deleteDepartment(department.id)">
                    <md-icon>
                        <i class="fa fa-trash-o fa-lg"></i>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start" ng-if="departmentsToggle">
        <md-button ng-click="openDepartmentsAddDialog($event)"><i class="fa fa-plus"></i>&nbsp;Hinzufügen</md-button>
    </md-card-actions>
</md-card>