<md-dialog aria-label="Departments">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{headline}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="departmentsForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="department.name" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="description" rows="1" ng-model="department.description"></textarea>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-chips ng-model="department.positions" md-autocomplete-snap
                              md-transform-chip="transformChip($chip)"
                              md-require-match="true">
                        <md-autocomplete
                                md-selected-item="autocomplete.selectedItem"
                                md-search-text="autocomplete.searchText"
                                md-items="position in positionsSearch(autocomplete.searchText)"
                                md-item-text="position.name"
                                placeholder="Position zuordnen">
                            <span md-highlight-text="autocomplete.searchText">{{position.name}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.name}}</span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submit()">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp;Speichern
        </md-button>
    </md-dialog-actions>
</md-dialog>