<md-dialog aria-label="Users">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{own.headline}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="ownUserForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Anrede</label>
                        <md-select ng-model="own.user.salutationId" required>
                            <md-option ng-repeat="salutation in own.salutations" value="{{salutation.id}}">
                                {{salutation.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Prefix</label>
                        <input type="text" name="prefix" ng-model="own.user.prefix">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Vorname</label>
                        <input type="text" name="firstname" ng-model="own.user.firstname" required minlength="3">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>zweiter Vorname</label>
                        <input type="text" name="secondFirstname" ng-model="own.user.secondFirstname">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nachname</label>
                        <input type="text" name="lastname" ng-model="own.user.lastname" required minlength="3">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email - Geschäftlich</label>
                        <input type="email" name="emailBusiness" ng-model="own.user.emailBusiness" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefon - Geschäftlich</label>
                        <input type="tel" name="phoneBusiness" ng-model="own.user.phoneBusiness">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email - Privat</label>
                        <input type="email" name="emailPrivate" ng-model="own.user.emailPrivate">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefon - Privat</label>
                        <input type="tel" name="phonePrivate" ng-model="own.user.phonePrivate">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Passwort</label>
                        <input type="password" name="password" ng-model="own.user.password" minlength="3">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Passwort erneut eingeben</label>
                        <input type="password" name="password" ng-model="own.user._passwordTest" minlength="3">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submit()">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp;Speichern
        </md-button>
    </md-dialog-actions>
</md-dialog>