<md-dialog aria-label="Positions">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{headline}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="positionsForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name</label>
                        <input type="text" name="name" ng-model="position.name" required>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="description" rows="1" ng-model="position.description"></textarea>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Abteilung</label>
                        <md-select ng-model="position.departmentId" name="department" ng-required>
                            <md-option ng-repeat="department in departments" value="{{department.id}}">
                                {{department.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submit()">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp;Speichern
        </md-button>
    </md-dialog-actions>
</md-dialog>