<md-card id="positions-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changePositionsToggle()"><i class="fa fa-cube"></i>&emsp;Stellen</h2>
            <md-switch class="md-accent" aria-label="Toggle Positions" ng-model="positionsToggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="positionsToggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Stelle oder Abteilung</label>
            <input type="text" ng-model="text.positionsSearchInput" ng-change="changePositionsSearch()">
        </md-input-container>
        <md-list ng-cloak>
            <md-list-item ng-repeat="position in positions" class="noright md-2-line"
                          ng-click="openPositionsEditDialog($event, position)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{position.name}}</h3>
                    <p>{{position.description}}</p>
                </div>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="deletePosition(position.id)">
                    <md-icon>
                        <i class="fa fa-trash-o fa-lg"></i>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start" ng-if="positionsToggle">
        <md-button ng-click="openPositionsAddDialog($event)"><i class="fa fa-plus"></i>&nbsp;Hinzufügen</md-button>
    </md-card-actions>
</md-card>