<md-card id="roles-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changeRolesToggle()"><i class="fa fa-mortar-board"></i>&emsp;Rollen</h2>
            <md-switch class="md-accent" aria-label="Toggle Roles" ng-model="rolesToggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="rolesToggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Rolle</label>
            <input type="text" ng-model="text.rolesSearchInput" ng-change="changeRolesSearch()">
        </md-input-container>
        <md-list ng-cloak>
            <md-list-item ng-repeat="role in roles" class="noright md-2-line"
                          ng-click="openRolesEditDialog($event, role)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{role.name}}</h3>
                    <p>{{role.description}}</p>
                </div>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteRole(role.id)">
                    <md-icon>
                        <i class="fa fa-trash-o fa-lg"></i>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start" ng-if="rolesToggle">
        <md-button ng-click="openRolesAddDialog($event)"><i class="fa fa-plus"></i>&nbsp;Hinzufügen</md-button>
    </md-card-actions>
</md-card>