<md-card id="users-card">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex md-truncate ng-click="changeUsersToggle()"><i class="fa fa-users"></i>&emsp;Benutzer</h2>
            <md-switch class="md-accent" aria-label="Toggle Users" ng-model="usersToggle"></md-switch>
        </div>
    </md-toolbar>
    <md-card-content ng-if="usersToggle">
        <md-input-container class="md-block" flex-gt-xs>
            <label><i class="fa fa-fw fa-search"></i> Suche nach Benutzer, Rolle, Abteilung oder Stelle</label>
            <input type="text" ng-model="text.usersSearchInput" ng-change="changeUserSearch()">
        </md-input-container>
        <md-list ng-cloak>
            <md-list-item ng-repeat="user in users" class="noright md-2-line"
                          ng-click="openUsersEditDialog($event, user)">
                <div class="md-list-item-text" layout="column">
                    <h3>{{user.name}}</h3>
                    <p>{{user.role}}</p>
                </div>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteUser(user.id)">
                    <md-icon>
                        <i class="fa fa-trash-o fa-lg"></i>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start" ng-if="usersToggle">
        <md-button ng-click="openUsersAddDialog($event)"><i class="fa fa-plus"></i>&nbsp;Hinzufügen</md-button>
    </md-card-actions>
</md-card>