<md-dialog aria-label="Users">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{headline}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog" class="fa fa-close fa-lg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="userForm">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Anrede</label>
                        <md-select ng-model="user.salutationId" required>
                            <md-option ng-repeat="salutation in salutations" value="{{salutation.id}}">
                                {{salutation.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Prefix</label>
                        <input type="text" name="prefix" ng-model="user.prefix">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Vorname</label>
                        <input type="text" name="firstname" ng-model="user.firstname" required minlength="3">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>zweiter Vorname</label>
                        <input type="text" name="secondFirstname" ng-model="user.secondFirstname">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nachname</label>
                        <input type="text" name="lastname" ng-model="user.lastname" required minlength="3">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Personalnummer</label>
                        <input type="text" name="personelNumber" ng-model="user.personelNumber" required minlength="3">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email - Geschäftlich</label>
                        <input type="email" name="emailBusiness" ng-model="user.emailBusiness" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefon - Geschäftlich</label>
                        <input type="tel" name="phoneBusiness" ng-model="user.phoneBusiness">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Email - Privat</label>
                        <input type="email" name="emailPrivate" ng-model="user.emailPrivate">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Telefon - Privat</label>
                        <input type="tel" name="phonePrivate" ng-model="user.phonePrivate">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Abteilung</label>
                        <md-select ng-model="user.departmentId" name="department" md-on-close="updatePositions()"
                                   required>
                            <md-option ng-repeat="department in departments" value="{{department.id}}">
                                {{department.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Position</label>
                        <md-select ng-model="user.positionId" name="position" required>
                            <md-option ng-repeat="position in positions" value="{{position.id}}">
                                {{position.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Rolle</label>
                        <md-select ng-model="user.roleId" name="role" required>
                            <md-option ng-repeat="role in roles" value="{{role.id}}">
                                {{role.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" ng-if="userDialogActiveUser && userDialogActiveUser.powers.EDIT_USERS >= 200">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Tägliche Arbeitsstunden</label>
                        <input type="text" name="workingHours" ng-model="user.workingHoursPerDay" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Maximale Überstunden</label>
                        <input type="text" name="overtimeLimit" ng-model="user.overtimeLimit" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Überstundenkonto</label>
                        <input type="text" name="overtimeValue" ng-model="user.overtimeValue" required>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" ng-if="userDialogActiveUser && userDialogActiveUser.powers.EDIT_USERS >= 255">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password" required minlength="3">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            <i class="fa fa-fw fa-times"></i>&nbsp;Abbrechen
        </md-button>
        <md-button class="md-raised md-primary" ng-click="submit()">
            <i class="fa fa-fw fa-floppy-o"></i>&nbsp;Speichern
        </md-button>
    </md-dialog-actions>
</md-dialog>