<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>BELTZ Tageszettel</title>
    <link rel="stylesheet" href="/public/dist/css/minified/main.css">
</head>
<body ng-app="main" ng-controller="NavigationController">

<div layout="column" ng-cloak>
    <section layout="row">
        <md-toolbar md-scroll-shrink class="md-theme-indigo">
            <md-button class="md-icon-button sidenav-toggle" aria-label="More" ng-click="toggleLeftNav()" hide-gt-sm>
                <md-icon>
                    <i class="fa fa-bars fa-2x"></i>
                </md-icon>
            </md-button>

            <h1 md-truncate class="app-title">BELTZ Tageszettel</h1>

            <login-menu></login-menu>

        </md-toolbar>
    </section>
</div>

<div layout="column" ng-cloak>

    <section layout="row" flex class="app-container">

        <md-sidenav class="md-sidenav-left" md-component-id="leftNavigation" md-is-locked-open="$mdMedia('gt-sm')"
                    md-whiteframe="4">

            <navigation></navigation>

        </md-sidenav>

        <md-content flex layout-padding id="content">

            <ng-view></ng-view>

            <div flex></div>

        </md-content>

    </section>

</div>

<script src="/public/dist/js/build.js"></script>
</body>
</html>